###############################################################################
#[ mac ]
###############################################################################
.DS_Store
.Trashes


###############################################################################
#[ Windows ]
###############################################################################
Thumb.db
ehthumbs.db
Desktop.ini
*.bak


###############################################################################
#[ Emacs ]
###############################################################################
*~


###############################################################################
#[ Vim ]
###############################################################################
.*.sw[a-z]
*.un~
Session.vim
.netrwhist


###############################################################################
#[ Sublime Text ]
###############################################################################
*.sublime-project
*.sublime-workspace


###############################################################################
#[ Chocolat ]
###############################################################################
*.chproj


###############################################################################
#[ JetBrains ]
###############################################################################
.idea
*.iml


###############################################################################
#[ Eclipse ]
###############################################################################
.project
.settings
.classpath


###############################################################################
#[ CokeKit ]
###############################################################################
*~ck.*
codekit-config.json


###############################################################################
#[ Sass ]
###############################################################################
.sass-cache
*.rbc
*.sassc


###############################################################################
#[ Ruby ]
###############################################################################
*.rbc
.rvmrc
.ruby-version
.ruby-gemsetion
.bundle
/vendor/bundle


###############################################################################
#[ Heroku ]
###############################################################################
Gemfile.lock


###############################################################################
#[ Python ]
###############################################################################
*.pyc
*.pyo


###############################################################################
#[ node ]
###############################################################################
npm-debug.log
node_modules/
bower_components/

###############################################################################
#[ merge file ]
###############################################################################
*.orig


###############################################################################
#[ SVN ]
###############################################################################
.svn


###############################################################################
#[ CVS ]
###############################################################################
CVS


###############################################################################
#[ VCS ]
###############################################################################
*.bk


###############################################################################
#[ packages.......... ]
###############################################################################
#*.7z
#*.dmg
#*.gz
#*.iso
#*.rar
#*.jar
#*.tar
#*.zip
#*.tgz


###############################################################################
#[ other ]
###############################################################################
.nbproject
.swp


###############################################################################
#[ Design File ]
###############################################################################
*.psd
*.ai


###############################################################################
#[ gitで管理したくない個人での試しファイルやディレクトリ ]
###############################################################################
__*__.*
__*__/
Iconr
Icon?
